@using System.Globalization
@using Scolly.Services.DTOs.Enums
@using Scolly.Services.Data.DTOs
@model List<CourseDto>

<h2>
    Списък с курсове 
    @if (User.IsInRole("Admin"))
    {
        <div class="text-center">
            <a asp-controller="Course" asp-action="Add" class="btn btn-primary">Създаване на нов курс</a>
       </div>
    }
</h2>

<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" style="--bs-bg-opacity:0; padding:0;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" style="margin:0">
                    <a class="nav-link"><strong>Сортирайте по:</strong></a>
                </li>
                <li class="nav-item" style="margin:0">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @if (ViewBag.SortByStartDate != null)
                        {
                            @if (ViewBag.SortByStartDate == true)
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-sortByStartDate="@false" class="btn btn-dark">Дата на начало</a>
                            }
                            else
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-sortByStartDate="@true" class="btn btn-dark">Дата на завършване</a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-sortByStartDate="@true" class="btn btn-outline-dark">Дата</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" style="--bs-bg-opacity:0;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" style="margin:0">
                    <a class="nav-link"><strong>Филтрирайте по:</strong></a>
                </li>
                <li class="nav-item dropdown" style="margin:0">
                    @if (ViewBag.CourseTypeId != null)
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Типове курс</strong></a>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Типове курс</a>
                    }
                    <div class="dropdown-menu" style="margin:0">
                        <h6 class="dropdown-header">Изберете тип курс</h6>

                        @foreach (var courseType in ViewBag.CourseTypes)
                        {
                            int index = int.Parse(courseType.Value);
                            if (ViewBag.CourseTypeId == index)
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-courseTypeId="@index" class="dropdown-item"><strong>@courseType.Text</strong></a>
                            }
                            else
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-courseTypeId="@index" class="dropdown-item">@courseType.Text</a>
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown" style="margin:0">
                    @if (ViewBag.TeacherId != null)
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Учители</strong></a>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Учители</a>
                    }
                    <div class="dropdown-menu" style="">
                        <h6 class="dropdown-header">Изберете Учител</h6>
                        @foreach (var teacher in ViewBag.Teachers)
                        {
                            int index = int.Parse(teacher.Value);
                            if (ViewBag.TeacherId == index)
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-teacherId="@index" class="dropdown-item"><strong>@teacher.Text</strong></a>
                            }
                            else
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-teacherId="@index" class="dropdown-item">@teacher.Text</a>
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown" style="margin:0">
                    @if (ViewBag.AgeGroupId != null)
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Възрастови групи</strong></a>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Възрастови групи</a>
                    }
                    <div class="dropdown-menu" style="margin:0">
                        <h6 class="dropdown-header">Изберете възрастова група</h6>

                        @foreach (var ageGroup in ViewBag.AgeGroups)
                        {
                            int index = int.Parse(ageGroup.Value);
                            if (ViewBag.AgeGroupId == index)
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-ageGroupId="@int.Parse(ageGroup.Value)" class="dropdown-item"><strong>@ageGroup.Text</strong></a>
                            }
                            else
                            {
                                <a asp-controller="Course" asp-action="Index" asp-route-ageGroupId="@int.Parse(ageGroup.Value)" class="dropdown-item">@ageGroup.Text</a>
                            }
                        }
                    </div>
                </li>
            </ul>
            <div class="d-flex" style="margin-right:80px">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" style="margin:0">
                        <a asp-controller="Course" asp-action="Index" class="btn btn-outline-danger">Премахни филтри</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="card-deck">
    @foreach (var course in Model)
    {
        int signUpsCount = course.CourseRequestDtos.Where(x => x.Status == RequestStatusDto.Accepted).Count();
        int requestCount = course.CourseRequestDtos.Where(x => x.Status == RequestStatusDto.Pending).Count();
        string cssClass = "card border-info mb-3";
        string cssStyle = "";

        if (requestCount > 0 && User.IsInRole("Admin"))
        {
            cssClass = "card border-warning mb-3";
            cssStyle = "background-color: #fdf2df";
        }

        <div class="@cssClass" style="width: 18rem; margin-bottom: 20px; @cssStyle">
            <div class="card-body">
                <div>
                    <h5 class="card-header">@course.CourseTypeDto.Name</h5>
                </div>
                <div>

                    @{
                        string dateString = $"{course.StartDate.ToString("MMMM dd, yyyy", new CultureInfo("bg-BG"))} - {course.EndDate.ToString("MMMM dd, yyyy", new CultureInfo("bg-BG"))}";

                        TimeSpan totalDuration = course.EndDate - course.StartDate;
                        TimeSpan elapsedDuration = DateTime.Now - course.StartDate;

                        string progressBarCssClass = "progress-bar progress-bar-striped progress-bar-animated bg-success";

                        int percentage = (int)((elapsedDuration.TotalSeconds / totalDuration.TotalSeconds) * 100);

                        if (DateTime.Now < course.StartDate)
                            percentage = 0;

                        if (DateTime.Now > course.EndDate)
                        {
                            percentage = 100;
                            progressBarCssClass = "progress-bar progress-bar-striped bg-success";
                        }

                        <div class="progress">
                            <div class="@progressBarCssClass" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%;"></div>
                        </div>
                        if (course.StartDate > DateTime.Now)
                        {
                            <p class="card-title">@dateString: <strong style="color: orange">Не е започнал</strong></p>
                        }
                        else if (course.StartDate < DateTime.Now && course.EndDate > DateTime.Now)
                        {
                            <p class="card-title">@dateString: <strong style="color: green">Започнал</strong></p>
                        }
                        else if (course.EndDate < DateTime.Now)
                        {
                            <p class="card-title">@dateString: <strong style="color: red">Приключил</strong></p>
                        }

                    }
                    <p class="card-title">Възрастова група: @course.AgeGroupDto.Name</p>
                    <p class="card-title">Цена: @string.Format("{0:f2} лв.", course.Price)</p>
                    <p class="card-title">Активно записани деца: @signUpsCount</p>
                    @if (User.IsInRole("Admin") && requestCount > 0)
                    {
                        <p class="card-title">Заявки за записване: <span class="badge bg-primary rounded-pill">@requestCount</span></p>
                    }
                    @if (course.TeacherDtos != null)
                    {
                        <p class="card-text">Учители: <strong>@($"{string.Join(", ", course.TeacherDtos.Select(x => $"{x.UserDto.FirstName} {x.UserDto.LastName}"))}")</strong></p>
                    }
                </div>
                <div class="card-buttons">
                    <a asp-controller="Course" asp-action="Info" asp-route-courseId="@course.Id" class="btn btn-outline-info">Информация</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Course" asp-action="Edit" asp-route-courseId="@course.Id" class="btn btn-warning">Редактиране</a>
                        <a href="#" onclick="confirmDelete('@course.CourseTypeDto.Name', '@course.StartDate.ToString("MMMM dd, yyyy", new CultureInfo("bg-BG")) - @course.EndDate.ToString("MMMM dd, yyyy", new CultureInfo("bg-BG"))', '@course.Id')" class="btn btn-danger">Изтриване</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (ViewBag.Page == i)
            {
                <li class="page-item active">
                    @{
                        if (ViewBag.SortByStartDate == true)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-sortByStartDate="@true" class="page-link">@i</a>
                        }
                        else if (ViewBag.SortByStartDate == false)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-sortByStartDate="@false" class="page-link">@i</a>
                        }
                        else if (ViewBag.AgeGroupId != null)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-ageGroupId="@ViewBag.AgeGroupId" class="page-link">@i</a>
                        }
                        else if (ViewBag.CourseTypeId != null)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-courseTypeId="@ViewBag.CourseTypeId" class="page-link">@i</a>
                        }
                        else if (ViewBag.TeacherId != null)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-teacherId="@ViewBag.TeacherId" class="page-link">@i</a>
                        }
                        else
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" class="page-link">@i</a>
                        }
                    }
                </li>
            }
            else
            {
                <li class="page-item">
                    @{
                        if (ViewBag.SortByStartDate == true)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-sortByStartDate="@true" class="page-link">@i</a>
                        }
                        else if (ViewBag.SortByStartDate == false)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-sortByStartDate="@false" class="page-link">@i</a>
                        }
                        else if (ViewBag.AgeGroupId != null)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-ageGroupId="@ViewBag.AgeGroupId" class="page-link">@i</a>
                        }
                        else if (ViewBag.CourseTypeId != null)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-courseTypeId="@ViewBag.CourseTypeId" class="page-link">@i</a>
                        }
                        else if (ViewBag.TeacherId != null)
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" asp-route-teacherId="@ViewBag.TeacherId" class="page-link">@i</a>
                        }
                        else
                        {
                            <a asp-controller="Course" asp-action="Index" asp-route-page="@i" class="page-link">@i</a>
                        }
                    }
                </li>
            }
        }
    </ul>
</div>


@section Scripts {
    <script>
        function confirmDelete(courseType, date, courseId) {
            var result = confirm("Сигурни ли сте, че искате да изтриете курс " + courseType + " - " + date + "?");
            if (result) {
                window.location.href = '/Course/Delete?courseId=' + courseId;
            }
        }
    </script>
}